body,
html, #root {
	margin: 0;
	padding: 0;
}
.landingPageContainer{
  min-height: 84vh;
}
.textOverlay {
  font-family: 'Oxygen', sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  color: whitesmoke;
  background-color: rgba(0, 49, 81, 0.7);
  border-radius: 15px;
  padding: 10px;
  display: inline-flex;
  max-width: 90%;
  flex-shrink: 1;
  box-sizing: border-box;
}
