
.landingPageContainer{
  min-height: 84vh;
}

.textOverlay {
  font-family: 'Oxygen', sans-serif;
  font-size: 2vw;
  font-weight: 1000;
  color: whitesmoke;
  background-color: rgba(0, 49, 81, 0.7);
  border-radius: 15px;
  padding: 0.5em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .textOverlay {
    font-size: 4vw;
    padding: 1em;
    white-space: normal;
  }
}

@media (max-width: 480px) {
  .textOverlay {
    font-size: 5vw;
    padding: 1em 1em;
    max-width: 90%;
    white-space: normal;
  }
}
