.textOverlay {
  font-family: 'Oxygen', sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  color: whitesmoke;
  background-color: rgba(0, 49, 81, 0.7);
  border-radius: 15px;
  padding: 10px;
  display: inline-flex; /* Changed from block to inline-block */
  max-width: 90%; /* Prevent it from extending beyond the viewport width */
  flex-shrink: 1;
  box-sizing: border-box; /* Include padding in the element's total width */
}
