.listedServices{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.individualService{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.serviceImg{
  max-width: 40vw;
  border-radius: 15px;
}

.textSectionLeft{
  margin-right: 20px;
}

.textSectionRight{
  margin-left: 20px;
}
