.listedServices{
  display: flex;
  flex-direction: column;
}

.individualService{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.serviceImg{
  max-width: 45vw;
  border-radius: 15px;
}

.textSectionLeft{
  margin-right: 20px;
}

.textSectionRight{
  margin-left: 20px;
}
