.aboutContainer{
  display: flex;
  flex-direction: row;
}
.aboutText{

}
.aboutImage{
  max-height: 35vh;
}

@media (max-width: 860px) {
  .aboutContainer{
    display: flex;
    flex-direction: column;
  }
  .aboutImage{
    max-height: 40vh;
    max-width: 50vh;
  }
}
