.contactImage{
  max-height: 45vh;
  width: 100%;
}

.contactContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactTitle{
  display: flex;
  align-items: flex-start;
  margin-left: 3vh;
}
