.footerContainer {
  background-color: #003151;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 20px;
  width: 100%;
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-right: 40px;
}

.footerLink {
  font-weight: 700;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
