html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, content, footer */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* .contentWrapper {
  flex: 1;
  overflow-y: auto;
  padding-top: 70px;
  padding-bottom: 0px;
  margin-top: 0px;

} */
.contentWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}
