.textImage {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #003151;
}
.serviceDetailImg{
  max-width: 40vw;
  border-radius: 15px;
}
.serviceContainer{
  min-height: 82vh;
}

.service-detail-paragraph {
  margin-left: 20px;
}

.allComments {
  display: flex;
  flex-direction: column;
}

.commentTextImage {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commentTitle {
  margin-bottom: 5px;
}

.commentImage {
  max-width: 25vw;
  border-radius: 15px;
  cursor: pointer;
}


.imagePreviewOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.imagePreviewContainer {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.imagePreview {
  max-width: 80%;
  max-height: 80vh;
  border-radius: 10px;
}

.closePreviewButton {
  position: absolute;
  top: 10px;
  right: 50px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 807px) {

  /* .commentTextImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  } */
  .textImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .serviceDetailImg{
    width: 100% !important;
    max-height: 30vh;
    object-fit: cover;
    border-radius: 15px;
    max-width: 90vh;
  }

  .service-detail-paragraph {
    width: 100%;
    margin: 10px 0;
    text-align: justify;
  }

  .commentImage{
    margin-right: 2vh;

  }
}

@media (max-width: 807px) {
.commentTextImage{
  display: flex;
  flex-direction: column;
}
.commentImage{
  width: 100% !important;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 15px;
  max-width: 90vh;
}
}

/* @media (min-width: 3500px) {
.service-detail-title{
  font-size: 3rem;
  padding-top: 2rem;
}
.service-detail-paragraph{
  font-size: 2.75rem;

}
.commentTitle{
  font-size: 2.75rem;
}
} */
